[submodule "click-brn"]
	path = click-brn
	url = git@gitsar:click-brn
[submodule "click-brn-scripts"]
	path = click-brn-scripts
	url = git@gitsar:click-brn-scripts
[submodule "helper"]
	path = helper
	url = git@gitsar:helper
[submodule "ns2/src/ns-2.34"]
	path = ns2/src/ns-2.34
	url = git@gitsar:ns-2.34
[submodule "brn-ns2-click"]
	path = brn-ns2-click
	url = git@gitsar:brn-ns2-click
[submodule "jist-brn"]
	path = jist-brn
	url = git@gitsar:jist-brn
[submodule "ns-3-brn"]
	path = ns-3-brn
	url = git@gitsar:ns-3-brn
