[submodule "click-brn"]
	path = click-brn
	url = git@gitsar:click-brn
[submodule "click-brn-scripts"]
	path = click-brn-scripts
	url = git@gitsar:click-brn-scripts
[submodule "helper"]
	path = helper
	url = git@gitsar:helper
